body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: url('bg-title.jpg') no-repeat center center/cover;
  color: white;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

h1 {
  font-size: 60px;
  letter-spacing: 3px;
}

p {
  font-size: 18px;
}